# Module 1
## 1. Exploration des statistiques descriptives univariés à l'aide de Pandas et Seaborn

Les statistiques descriptives incluent celles qui résument la tendance centrale, la dispersion et la forme de la distribution d'un ensemble de données.

- Mesure de la tendance centrale
- Mesure de propagation / dispersion
- Mesure de symétrie

Importation de toutes les bibliothèques nécessaires pour les graphiques statistiques et création d'une base de données à partir de l'ensemble de données fourni dans (https://www.kaggle.com/yersever/500-person-gender-height-weight-bodymassindex/version/2).

Cet ensemble de données contient les colonnes Taille, Poids, Âge, IMC et Sexe. Calculons des statistiques descriptives pour cet ensemble de données.


Le code utilisé dans ce projet est disponible en tant que bloc-notes Jupyter sur GitHub .

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# matplotlib inline

df=pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [9]:
df["Index"].unique()

array([4, 2, 3, 5, 1, 0], dtype=int64)

La mesure de la tendance centrale est utilisée pour décrire la valeur médiane / centrale des données.
Mean, Median, Modesont des mesures de la tendance centrale.
### 1.1 Mesure de la tendance centrale

La mesure de la tendance centrale est utilisée pour décrire la valeur médiane / centrale des données.
Mean, Median, Modesont des mesures de la tendance centrale.

### a. Moyenne
La moyenne est la "average value" de l'ensemble de données.
La moyenne est calculée en ajoutant toutes les valeurs de l'ensemble de données divisées par le nombre de valeurs de l'ensemble de données. Nous pouvons calculer la moyenne uniquement pour les variables numériques.

1. Calculer de la moyenne pour une variable particulière («Âge») à l'aide de Python.

2. Calculer de la moyenne de toutes les colonnes du dataframe.

### b. Mediane
La médiane est la middle number dans l'ensemble de données.
La médiane est la meilleure mesure lorsque nous avons des valeurs aberrantes.


1. Calculer de la médiane d'une variable particulière («Âge») à l'aide de Python.

2. Calcul de la médiane de toutes les colonnes du dataframe.

### c. Mode

Le mode est utilisé pour trouver la variable la plus répétée dans l'ensemble de données.


1. Calculer le mode de la variable "Weight" et expliquer en une phrase le résultat.

2. Calculer le mode de toutes les colonnes du dataframe

In [31]:
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

### 1.2. Mesure de dispertion

- La mesure de l'étalement / dispersion est utilisée pour décrire la façon dont les données sont diffusées. Il décrit également la variabilité de l'ensemble de données.
- L'écart type, la variance, la plage, l'IQR, sont utilisés pour décrire la mesure de l'étalement / dispersion
- La mesure de la propagation peut être affichée dans des graphiques tels que boxplot .

### a. Variance


La variance est utilisée pour décrire la distance entre chaque nombre de l'ensemble de données et la moyenne.

1. Calculer la variance pour la colonne "Weight" dans l'ensemble de données et expliquer le resultat.

2. Calculer la variance pour toutes les colonnes de la trame de données

### b. Ecart-type (Standard deviation)

- L'écart type est la mesure de la dispersion des données par rapport à la moyenne.
- L'écart type est la racine carrée de la variance.
Plus l'écart type est grand, plus les valeurs sont dispersées.

1. Calculer l'écart type pour la colonne "Weight" dans l'ensemble de données et expliquer le resultat.

2. Calculer l'écart type pour toutes les colonnes de l'ensemble de données.

### b. L'étendue

- La plage est la différence entre le plus grand nombre et le plus petit nombre
- Plus la plage est large, plus la dispersion est grande.

1. Calculer l'étendue de la variable "Weight" (penser à calculer le max puis le min )

### c. Les quartiles
Les quartiles décrivent la répartition des données par division en trimestres. La médiane divise exactement les données en deux parties.
- Q1 (quartile inférieur) est la valeur médiane de la première moitié de l'ensemble de données trié.
- Q2 - est la valeur médiane
- Q3 (quartile supérieur) est la valeur médiane de la seconde moitié de l'ensemble de données trié
L'intervalle interquartile est la différence entre le 75e centile (Q3) et le 25e centile (Q1).

50% des données se situent dans cette plage.

1. Calculer l'intervalle interquartile de la variables "Weight" et expliquer le résultat.

La fonction "describe ()" génère des statistiques descriptives.Elle est utilisée pour afficher certains détails statistiques de base tels que la moyenne, la médiane, le minimum, le maximum, les centiles, le nombre d'une trame de données ou une série de valeurs numériques.

1. Appliquer cette fonction pour déterminer les statitiques de base de la variable "Weight"

2. Appliquer cette fonction pour déterminer les statitiques de base pour toutes les variables de la base de données.

Le résumé en cinq points comprend cinq valeurs

- Valeur minimum
- Q1 -Quartile inférieur
- Médian
- Q3-quartile supérieur
- Valeur maximum

Les graphiques statistiques sont utilisés pour identifier les valeurs aberrantes, visualiser les distributions, découvrir les relations et la corrélation entre les variables d'un ensemble de données.

### Boite à moustaches

Boxplot est utilisé pour décrire la manière dont les données sont distribuées dans l'ensemble de données. Ce graphique représente five-point summary(minimum, maximum, médiane, quartile inférieur et quartile supérieur). Ce graphique est utilisé pour identifier les valeurs aberrantes .

-  moustaches - dénotent la propagation des données
-  case - représente l'IQR - 50% des données se trouvent dans cette plage

1. Représenter le boxplot de la variable "Height" et déduire.

2. Représenter une boîte à moustaches regroupée par catégorie de sexe pour la variable "Height"

3. Créer un tableau qui regroupe les individus par catégorie de sexe

4. Représenter le tableau qui regroupe par catégorie sexe homme la variable "Height" puis calculer la moyenne et l'interquartile  de la variable "Height" des hommes.