
<section style="position:relative; width:100%;">

<div style="display:inline-block;">
<img src="images/ioapps_small.png" style="width:200px;" /> 
<p> Formateur :<br /> Pierre-Olivier Simonard <br />
<a href="mailto:pierre.olivier.simonard@gmail.com">pierre.olivier.simonard@gmail.com</a></p>
</div>

<div style="display:inline-block; float:right">
    <h3>ICAM </h3>
    <p>Formation Data Science</p>
    <p>Novembre 2022</p>
    <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.eu.png"  width="100px" />
</div>

</section>


<h1 style="text-align: center; width:100%">Programmation Python</h1>
<h2 style="text-align: center; width:100%">Partie 5.1 : Structures de données <br /> Tuples et Listes <br /> Exercice guidé </h2>

<!--  
Novembre 2022
Pierre-Oliver Simonard - pierre.olivier.simonard@gmail.com
-->

<style>
div.warn {    
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
    }
</style>

### Exercice 1 : Nombres premiers

Voici les 8 premiers nombres premiers. : 2, 3, 5, 7, 11, 13, 17, 19

* Ecrivez un programme qui les représente dans une liste.
* Modifiez votre programme qui affichera chacun de ces nombres
* Modifiez votre programme pour qu'il affiche le carré de chacun de ces nombres

In [16]:

nb_prem = [2, 3, 5, 7, 11, 13, 17, 19]
for nb in nb_prem :
    print(nb**2)

4
9
25
49
121
169
289
361

### Exercice 2 : Calculer une moyenne glissante

Le programme suivante génère une liste de 30 nombres entiers entre 0 et 20 :

In [205]:
from random import random, seed

seed(42)

numbers = []
for i in range(30):
    numbers.append( int(random()*21))

print(numbers)

[13, 0, 5, 4, 15, 14, 18, 1, 8, 0, 4, 10, 0, 4, 13, 11, 4, 12, 16, 0, 16, 14, 7, 3, 20, 7, 1, 2, 17, 12]

* Ecrivez un programme qui calcule la moyenne des 5 premières valeurs. Utilisez le slicing.

In [21]:
sum(numbers[:5]) / len(numbers[:5])

7.4

* Ecrivez un programme qui affiche les nombres d'indices 0 à 5, puis 1 à 6, puis 2 à 7 ... puis n à n+5

In [204]:
print(numbers[:5] )
print(numbers[1:6])
print(numbers[2:7])

NameError: name 'numbers' is not defined

In [211]:
for n in range(len(numbers)-4):
    print(numbers[n:n+5])

[13, 0, 5, 4, 15]
[0, 5, 4, 15, 14]
[5, 4, 15, 14, 18]
[4, 15, 14, 18, 1]
[15, 14, 18, 1, 8]
[14, 18, 1, 8, 0]
[18, 1, 8, 0, 4]
[1, 8, 0, 4, 10]
[8, 0, 4, 10, 0]
[0, 4, 10, 0, 4]
[4, 10, 0, 4, 13]
[10, 0, 4, 13, 11]
[0, 4, 13, 11, 4]
[4, 13, 11, 4, 12]
[13, 11, 4, 12, 16]
[11, 4, 12, 16, 0]
[4, 12, 16, 0, 16]
[12, 16, 0, 16, 14]
[16, 0, 16, 14, 7]
[0, 16, 14, 7, 3]
[16, 14, 7, 3, 20]
[14, 7, 3, 20, 7]
[7, 3, 20, 7, 1]
[3, 20, 7, 1, 2]
[20, 7, 1, 2, 17]
[7, 1, 2, 17, 12]

In [213]:
debut =  0
fin = debut +5
while debut <= len(numbers)-5 :
    print(numbers[debut:fin])
    debut = debut + 1
    fin = debut+5

[13, 0, 5, 4, 15]
[0, 5, 4, 15, 14]
[5, 4, 15, 14, 18]
[4, 15, 14, 18, 1]
[15, 14, 18, 1, 8]
[14, 18, 1, 8, 0]
[18, 1, 8, 0, 4]
[1, 8, 0, 4, 10]
[8, 0, 4, 10, 0]
[0, 4, 10, 0, 4]
[4, 10, 0, 4, 13]
[10, 0, 4, 13, 11]
[0, 4, 13, 11, 4]
[4, 13, 11, 4, 12]
[13, 11, 4, 12, 16]
[11, 4, 12, 16, 0]
[4, 12, 16, 0, 16]
[12, 16, 0, 16, 14]
[16, 0, 16, 14, 7]
[0, 16, 14, 7, 3]
[16, 14, 7, 3, 20]
[14, 7, 3, 20, 7]
[7, 3, 20, 7, 1]
[3, 20, 7, 1, 2]
[20, 7, 1, 2, 17]
[7, 1, 2, 17, 12]

* Completez votre programme pour qu'il calcule les moyennes glissantes sur 6 valeurs, et stocke ces moyennes dans une liste, puis affichez cette liste.

In [217]:
average = []

for n in range (len(numbers)-5):
    paquet = numbers[n:n+6]
    somme = 0
    for nbr in paquet:
        somme = somme+ nbr
    moyenne = somme / len(paquet)
    average.append(moyenne)
    
print(average)

[8.5, 9.333333333333334, 9.5, 10.0, 9.333333333333334, 7.5, 6.833333333333333, 3.8333333333333335, 4.333333333333333, 5.166666666666667, 7.0, 7.0, 7.333333333333333, 10.0, 9.333333333333334, 9.833333333333334, 10.333333333333334, 10.833333333333334, 9.333333333333334, 10.0, 11.166666666666666, 8.666666666666666, 6.666666666666667, 8.333333333333334, 9.833333333333334]

----

### Exercice 3 : Villes de France

Nous allons travailler sur un jeu de donnée représentant les 10 plus grandes villes de France, par leur population.  
Les données sont de la forme :  
Rang dans le classement, nom de la ville, Population, Superficie (en km<sup>2</sup>)

In [218]:
villes = [
    [1, "Paris",         2206488,  105.40],
    [2, "Marseille",      861635,  240.62],
    [3, "Lyon",           513275,  47.87 ],
    [4, "Toulouse",       471941,  118.30],
    [5, "Nice",           342522,  71.92],
    [6, "Nantes",         303382,  65.19],
    [7, "Montpellier",    277639,  56.88],
    [8, "Strasbourg",     277270,  78.26],
    [9, "Bordeaux",       249712,  49.36],
    [10,"Lille",          232741,  34.51]
]

#### Question 1 

Ecrivez une instruction qui va lire dans la liste la population de Strasbourg, et l'affiche.

In [226]:
print(villes[7][2])

277270

In [225]:
for v in villes:
    if "Strasbourg" in v : 
        print(v[2])

277270

#### Question 2 

Ecrivez une boucle qui affiche le rang et le nom des villes

In [220]:
for i in range(0, 10) :
    for j in range(2) :
        select = villes[i][j]
        print(select)

1
Paris
2
Marseille
3
Lyon
4
Toulouse
5
Nice
6
Nantes
7
Montpellier
8
Strasbourg
9
Bordeaux
10
Lille

In [227]:
for v in villes :
    print(v[0], v[1])

1 Paris
2 Marseille
3 Lyon
4 Toulouse
5 Nice
6 Nantes
7 Montpellier
8 Strasbourg
9 Bordeaux
10 Lille

#### Question 3 

Ecrivez un programme qui calcule la somme des populations de l'ensemble de ces villes

In [234]:
pop = 0
for v in villes :
        pop += v[2]
print(pop)

5736605

#### Question 4 

Ecrivez un programme qui calcule la densité de population de chacune des villes.  
Utilisez `.append()` pour modifier la liste et y stocker la densité de population.

In [252]:
# Rappel : 
villes = [
    [1, "Paris",         2206488,  105.40],
    [2, "Marseille",      861635,  240.62],
    [3, "Lyon",           513275,  47.87 ],
    [4, "Toulouse",       471941,  118.30],
    [5, "Nice",           342522,  71.92],
    [6, "Nantes",         303382,  65.19],
    [7, "Montpellier",    277639,  56.88],
    [8, "Strasbourg",     277270,  78.26],
    [9, "Bordeaux",       249712,  49.36],
    [10,"Lille",          232741,  34.51]
]

# ...

Le résultat attendu est : 

```python
[
  [1, 'Paris', 2206488, 105.4, 20934]
  [2, 'Marseille', 861635, 240.62, 3580]
  [3, 'Lyon', 513275, 47.87, 10722]
  [4, 'Toulouse', 471941, 118.3, 3989]
  [5, 'Nice', 342522, 71.92, 4762]
  [6, 'Nantes', 303382, 65.19, 4653]
  [7, 'Montpellier', 277639, 56.88, 4881]
  [8, 'Strasbourg', 277270, 78.26, 3542]
  [9, 'Bordeaux', 249712, 49.36, 5058]
  [10, 'Lille', 232741, 34.51, 6744]
]
```

In [251]:
for i in range(len(villes)):
    for j in range(1) :
        villes[i].append(villes[i][2] / villes[i][3])
villes

[[1, 'Paris', 2206488, 105.4, 20934.421252371914],
 [2, 'Marseille', 861635, 240.62, 3580.895187432466],
 [3, 'Lyon', 513275, 47.87, 10722.26864424483],
 [4, 'Toulouse', 471941, 118.3, 3989.357565511412],
 [5, 'Nice', 342522, 71.92, 4762.541713014461],
 [6, 'Nantes', 303382, 65.19, 4653.811934345758],
 [7, 'Montpellier', 277639, 56.88, 4881.135724331926],
 [8, 'Strasbourg', 277270, 78.26, 3542.9338103756704],
 [9, 'Bordeaux', 249712, 49.36, 5058.9951377633715],
 [10, 'Lille', 232741, 34.51, 6744.161112720951]]

In [259]:
for v in villes : 
    v.append (int(v[2]/v[3]))
print(villes)

[[1, 'Paris', 2206488, 105.4, 20934, 20934], [2, 'Marseille', 861635, 240.62, 3580, 3580], [3, 'Lyon', 513275, 47.87, 10722, 10722], [4, 'Toulouse', 471941, 118.3, 3989, 3989], [5, 'Nice', 342522, 71.92, 4762, 4762], [6, 'Nantes', 303382, 65.19, 4653, 4653], [7, 'Montpellier', 277639, 56.88, 4881, 4881], [8, 'Strasbourg', 277270, 78.26, 3542, 3542], [9, 'Bordeaux', 249712, 49.36, 5058, 5058], [10, 'Lille', 232741, 34.51, 6744, 6744]]

#### Question 5 

Ecrivez un programme qui génère une liste de Tuples de la forme :
( Nom de la ville, densité de population )

In [269]:
liste_densite=[]
for v in villes:
    liste_densite.append((v[1] , v[-1]))
        
print(liste_densite)

[('Paris', 20934), ('Marseille', 3580), ('Lyon', 10722), ('Toulouse', 3989), ('Nice', 4762), ('Nantes', 4653), ('Montpellier', 4881), ('Strasbourg', 3542), ('Bordeaux', 5058), ('Lille', 6744)]

In [ ]:
for v, d in liste_densite:
    print( "la densite de la population à "+v + "est de " + str(d) + " p/m²")

#### Question 6

Considérons que la liste générée à la question 5 est stockée dans une variable nommée `liste_densite`

1. Créez une liste vide appelée `classement_densite`
2. à partir `liste_densite`, trouvez la ville avec la plus grande densité de population
3. Ajouter le tuple correspondant dans `classement_densite`
4. supprimer le tuple correspondant de `liste_densite`
5. Recommencez jusqu'à ce que `liste_densite` soit vide

à la fin, vous devriez avoir obtenu une liste de villes triées par densité décroissante.

In [266]:
##classement_densite = []
##
##
##while len(liste_densite) > 0:
##    
##    t_max = ("", 0)
##    
##    for t in liste_densite:
##        if t[1] > t[1]:
##            t_max = t
##            
##    classement_densite.append(t_max)
##    liste_densite.remove(t_max)
##
##print(classement_densite)

[]

In [270]:
classement_densite = []
rang_densite = 1

while len(liste_densite) > 0 :
    t_max=("",0)
    for t in liste_densite:
        if t[1] > t_max[1]:
            t_max = t
    classement_densite.append (t_max)
    liste_densite.remove(t_max)

print(classement_densite)

[('Paris', 20934), ('Lyon', 10722), ('Lille', 6744), ('Bordeaux', 5058), ('Montpellier', 4881), ('Nice', 4762), ('Nantes', 4653), ('Toulouse', 3989), ('Marseille', 3580), ('Strasbourg', 3542)]