
<section style="position:relative; width:100%;">

<div style="display:inline-block;">
<img src="images/ioapps_small.png" style="width:200px;" /> 
<p> Formateur :<br /> Pierre-Olivier Simonard <br />
<a href="mailto:pierre.olivier.simonard@gmail.com">pierre.olivier.simonard@gmail.com</a></p>
</div>

<div style="display:inline-block; float:right">
    <h3>ICAM </h3>
    <p>Formation Data Science</p>
    <p>Novembre 2022</p>
    <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.eu.png"  width="100px" />
</div>

</section>


<h1 style="text-align: center; width:100%">Programmation Python</h1>
<h2 style="text-align: center; width:100%">Partie 5.0 : Structures de données <br /> Tuples et Listes</h2>

<!--  
Novembre 2022
Pierre-Oliver Simonard - pierre.olivier.simonard@gmail.com
-->

<style>
div.warn {    
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
    }
</style>

Les structures de données sont des **types de variables** pouvant contenir **plusieurs données** pour les traiter plus facilement.

### 1.0 - Les tuples

Voici un exemple de tuple contenant 3 chaînes de caractères:

In [1]:
couleurs = ("rouge", "vert", "bleu")
print(couleurs)
print( type(couleurs) )

('rouge', 'vert', 'bleu')
<class 'tuple'>

les virgules entre chaque chaîne de caractère est ce qui permet à l'interpréteur python de savoir qu'il s'agit d'un tuple. les parenthèses autour sont optionnelles mais aident à la lecture.

Les tuples sont des structures de données **ordonnées et non modifiables** 


#### Ordre - Indexation

On peut accéder aux élements contenus dans un tuple en utilisant l'indexation : le premier élement de la liste porte l'index 0, le second l'index 1, ...

In [21]:
couleurs = ("rouge", "vert", "bleu")
print(couleurs[0])
print(couleurs[1])
print(couleurs[2])

rouge
vert
bleu

On peut également accéder aux élements d'un tuple en commencant par la fin : le dernier element d'un tuple est d'index -1, l'avant dernier est d'index -2 ...

In [22]:
couleurs = ("rouge", 2, "vert", True, "bleu", -4)
print(couleurs[-1])
print(couleurs[-2])
print(couleurs[-3])

-4
bleu
True

Si on essaie d'accéder à un élement à un index qui n'existe pas, on obtient une erreur :

In [2]:
couleurs = ("rouge", "vert", "bleu")
print(couleurs[3])

IndexError: tuple index out of range

#### Non modifiable

Contrairement à d'autres structures de données que nous allons avoir plus tard, on ne peut pas modifier une donnée à l'intérieur d'un tuple :

In [24]:
couleurs = ("rouge", "vert", "bleu")
print(couleurs[0])
#couleurs[0] = "yellow" # interdit
couleurs = (1,2,3)
print(couleurs)

rouge
(1, 2, 3)

On peut toutefois créer un nouveau tuple, et l'affecter à une variable existante.

In [25]:
couleurs = ("rouge", "vert", "bleu")
print(couleurs)

couleurs = ("Strasbourg", -4, "Brouillard") # cette opération n'est *pas* une modification de tuple
print(couleurs)

('rouge', 'vert', 'bleu')
('Strasbourg', -4, 'Brouillard')

#### Opérateur +

On peut créer un nouveau tuple à partir d'autres tuples en utilisant l'opérateur +

In [26]:
couleurs = ("rouge", "vert", "bleu")
autres = ("yellow", "orange", "cyan")

ensemble = couleurs + autres
print(couleurs)
print(autres)
print(ensemble)

('rouge', 'vert', 'bleu')
('yellow', 'orange', 'cyan')
('rouge', 'vert', 'bleu', 'yellow', 'orange', 'cyan')

-----

### 2.0 - Listes

Les listes sont des structures de données **ordonnées** et **modifiables**

Voici un exemple de liste :

In [27]:
voitures = [ "Renault", "Tesla", "BMW" ]
print(voitures)

['Renault', 'Tesla', 'BMW']

Les crochets permettent à l'interpréteur python de comprendre qu'il s'agit d'une liste. ils sont obligatoires.

* Tout comme les tuples, les listes sont indexées à partir de 0 :

In [28]:
voitures = ["Renault", "Tesla", "BMW"]
print(voitures[0])
print(voitures[-1])

Renault
BMW

* Une liste peut être vide, ne contenir aucun élement :

In [29]:
liste_vide = []

#### Modifiable 

* à la différence d'un tuple, on peut modifier le contenu d'une liste :

In [30]:
voitures = ["Renault", "Tesla", "BMW"]
print(voitures)
voitures[0] = "Peugeot"
print(voitures)

['Renault', 'Tesla', 'BMW']
['Peugeot', 'Tesla', 'BMW']

* Ajout d'un élement à la fin d'un liste :

In [31]:
voitures = ["Renault", "Tesla", "BMW"]
voitures.append("Peugeot")
print(voitures)

['Renault', 'Tesla', 'BMW', 'Peugeot']

* Insertion d'un élement à un index donné :

In [32]:
voitures = ["Renault", "Tesla", "BMW"]
voitures.insert(1, "Peugeot")
print(voitures)

['Renault', 'Peugeot', 'Tesla', 'BMW']

* Suppression d'un element à un index donné :

In [33]:
voitures = ["Renault", "Tesla", "BMW"]
del voitures[1]
print(voitures)

['Renault', 'BMW']

* Suppression d'un element par valeur

In [34]:
voitures = ["Renault", "Tesla", "BMW", "Decathlon" ]
voitures.remove("Decathlon")

print(voitures)

['Renault', 'Tesla', 'BMW']

`.remove()` ne supprime que la première valeur trouvée. Si la valeur à supprimer est présente plusieurs fois, il faut appeler `.remove()` plusieurs fois :

In [35]:
voitures = ["Renault", "Tesla", "BMW", "Decathlon", 
            "Decathlon", "Decathlon", "Decathlon", "Decathlon"]

while "Decathlon" in voitures:
    voitures.remove("Decathlon")

print(voitures)

['Renault', 'Tesla', 'BMW']

#### Operateurs

* L'opérateur **+** permet de concatener deux listes :

In [36]:
voitures_electriques = ["Renault Zoé", "Tesla"]
voitures_electriques = voitures_electriques + ["BMW", "Peugeot"]
print(voitures_electriques)

['Renault Zoé', 'Tesla', 'BMW', 'Peugeot']

Dans l'exemple ci-dessus, on crée une nouvelle liste que l'on réaffecte à une variable existante.

Pour modifier directement la liste, sans faire de réaffectation de variabvle, on peut utiliser la fonction extend :

In [37]:
voitures = ["Renault Zoé", "Tesla"]
voitures.extend( ["BMW", "Peugeot"] ) 
print(voitures)

['Renault Zoé', 'Tesla', 'BMW', 'Peugeot']

* L'opérateur __*__ permet de dupliquer une liste

In [38]:
parole = ["blah", "plop"] * 3
print(parole)

['blah', 'plop', 'blah', 'plop', 'blah', 'plop']

* L'opérateur __in__ permet de vérifier la présence d'une valeur dans une liste :

In [39]:
voitures = ["Renault Zoé", "Tesla"]

if "Tesla" in voitures:
    print("Oui")
else:
    print("Non")

Oui

-----
### Tuples et Listes : Indexation par slicing

Le slicing est le fait d'extraire d'une liste ou d'un tuple un ensemble d'elements situés à certains indexes.  
En voici un exemple :

In [40]:
planetes = ["Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune"]

terre = planetes[2]
print(terre)

Terre

In [41]:
# de l'indice N à l'indice M
telluriques = planetes[0:4]
print(telluriques)

['Mercure', 'Venus', 'Terre', 'Mars']

In [42]:
# du début jusqu'à l'indice M
telluriques = planetes[:4]
print(telluriques)

['Mercure', 'Venus', 'Terre', 'Mars']

In [43]:
# depuis l'indice M jusqu'à la fin 
gazeuses = planetes[4:]
print(gazeuses)

['Jupiter', 'Saturne', 'Uranus', 'Neptune']

In [44]:
print(planetes[:])

['Mercure', 'Venus', 'Terre', 'Mars', 'Jupiter', 'Saturne', 'Uranus', 'Neptune']

Le slicing est de la forme :
`liste [ Index de depart inclus : Index de fin exclus : pas ]`

In [45]:
telluriques = planetes[0:4:2]
print(planetes[::2])

['Mercure', 'Terre', 'Jupiter', 'Uranus']

On peut ne mettre aucune valeur pour l'index de départ ou l'index de fin.

* Si on n'indique pas d'index de départ, le slicing considère l'index 0 par défaut :

In [46]:
planetes = ["Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune"]

telluriques = planetes[:4]
print(telluriques)

['Mercure', 'Venus', 'Terre', 'Mars']

* Si on n'indique pas d'index de fin, le slicing considère le dernier index par défaut :

In [47]:
planetes = ["Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune"]

gazeuses = planetes[4:]
print(gazeuses)

['Jupiter', 'Saturne', 'Uranus', 'Neptune']

* On peut également utiliser des indexes negatifs :

In [48]:
planetes = ["Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune"]

gazeuses = planetes[4:-2]
print(gazeuses)

['Jupiter', 'Saturne']

* à savoir, on peut indiquer un index de fin qui dépasse la taille de la liste, sans que ca ne génère d'erreur :

In [49]:
planetes = ["Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune"]

cosmos = planetes[-1:200]
print(cosmos)

['Neptune']

**Tout ces exemples fonctionnent également avec des tuples :**

In [50]:
planetes = ("Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune")

telluriques = planetes[:4]
print(telluriques)

gazeuses = planetes[4:]
print(gazeuses)

('Mercure', 'Venus', 'Terre', 'Mars')
('Jupiter', 'Saturne', 'Uranus', 'Neptune')

-----
#### Autres informations à propos des tuples et listes :


* Pour connaitre la longueur d'une liste, on utilise la fonction `len()` :

In [51]:
planetes = [ "Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune" ]
longueur = len(planetes)
print(longueur)

8

* `len()` fonctionne aussi avec les tuples, et même les strings :

In [52]:
planetes_tuple =  ("Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune" )
print( len(planetes_tuple) )

8

In [53]:
planetes_str = "Mercure Venus Terre Mars Jupiter Saturne Uranus Neptune"
print( len( planetes_str) )

55

* L'index du dernier element d'une liste est accessible par l'index -1. Mais on peut aussi y accéder par "longueur -1" :

In [54]:
planetes = [ "Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune" ]
print( len(planetes) )

index_last = len(planetes)-1
print( index_last )

print( planetes[index_last] )
print( planetes[-1] )

8
7
Neptune
Neptune

* Jusqu'à présent, nous avons utilisé des listes et des tuples ne contenant que des types de variables identiques (des strings). Toutefois, une liste ou un tuple peut contenir des types différents de valeurs :

In [55]:
mercure = ("Mercure", 4879) # ("Nom de la planète", diamètre de la planètre)
venus = ("Venus", 12104)
terre = ("Terre", 12742)
print(mercure, venus, terre)

('Mercure', 4879) ('Venus', 12104) ('Terre', 12742)

-----
#### Tuples, listes, et boucles for

Le grand intéret des tuples et listes est la possiblité de parcourir tous les elements pour travailler dessus. Pour cela, on utilise la boucle for, avec une syntaxe très simple :

In [56]:
planetes = [ "Mercure", "Venus", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune" ]

for pl in planetes:
    print(pl)

Mercure
Venus
Terre
Mars
Jupiter
Saturne
Uranus
Neptune

* Ainsi, avec une liste contenant des valeurs numériques, on peut par exemple calculer la moyenne de ces valeurs.

In [57]:
diametres = [4879,  12104, 12742, 6779 ] # diamètres des planètes telluriques

somme = 0
for d in diametres:
    somme = somme + d

moyenne = somme / len(diametres)

print(moyenne)

9126.0


* avec la notation `for valeur in liste:`, on peut utiliser directement la valeur. Mais on peut aussi avoir besoin d'accéder à l'index de cette valeur dans la liste.
Dans ce cas, il faut utiliser une boucle `for idx in range(...)`:

In [58]:
planetes = [ "Mercure", "Venus", "Terre", "Mars",  "Jupiter", "Saturne", "Uranus", "Neptune" ]

for idx in range(len(planetes)):
    print(idx, planetes[idx])

0 Mercure
1 Venus
2 Terre
3 Mars
4 Jupiter
5 Saturne
6 Uranus
7 Neptune

----
### Listes de Listes, Listes de Tuples

Une liste peut tout aussi bien contenir des listes et des tuples :

Exemple avec une liste de tuples :

In [61]:
mercure = ("Mercure", 4879 )
venus   = ("Venus",   12104 )
terre   = ("Terre",   12742 )
mars    = ("Mars",    6779 )
jupiter = ("Jupiter", terre[1]*11 )
saturne = ("Saturne", 116464 )
uranus  = ("Uranus",  50724 )
neptune = ("Neptune", 49244 )

planetes = [mercure, venus, terre, mars, jupiter, saturne, uranus, neptune]

print(planetes)

for pl in planetes:
    print( pl )

[('Mercure', 4879), ('Venus', 12104), ('Terre', 12742), ('Mars', 6779), ('Jupiter', 140162), ('Saturne', 116464), ('Uranus', 50724), ('Neptune', 49244)]
('Mercure', 4879)
('Venus', 12104)
('Terre', 12742)
('Mars', 6779)
('Jupiter', 140162)
('Saturne', 116464)
('Uranus', 50724)
('Neptune', 49244)

* Dans cet exemple, la boucle `for` nous permet d'obtenir le tuple de chaque planète, que nous affichons. Pour n'afficher que le nom de la planète, ou son diamètre, on peut utiliser l'indexation :

In [62]:
mercure = ("Mercure", 4879 )
venus = ("Venus", 12104 )
terre = ("Terre", 12742 )
mars = ("Mars", 6779 )
jupiter = ("Jupiter", terre[1]*11 )
saturne = ("Saturne", 116464 )
uranus = ("Uranus", 50724 )
neptune = ("Neptune", 49244 )

planetes = [mercure, venus, terre, mars, 
            jupiter, saturne, uranus, neptune]

for pl in planetes:
    nom = pl[0]
    diametre = pl[1]
    
    message = "la planète " + nom + " a un diamètre de " + str(diametre) + "km." 
    print(message)

la planète Mercure a un diamètre de 4879km.
la planète Venus a un diamètre de 12104km.
la planète Terre a un diamètre de 12742km.
la planète Mars a un diamètre de 6779km.
la planète Jupiter a un diamètre de 140162km.
la planète Saturne a un diamètre de 116464km.
la planète Uranus a un diamètre de 50724km.
la planète Neptune a un diamètre de 49244km.

* Voici le même jeu de données, mais sous la forme de liste de liste. L'indexation peut être "chaînée" pour accéder directement à certaines valeurs :

In [63]:
planetes = [
    [ "Mercure", 4879  ],
    [ "Venus", 12104  ],
    [ "Terre", 12742  ],
    [ "Mars", 6779  ],
    [ "Jupiter", 139822  ],
    [ "Saturne", 116464  ],
    [ "Uranus", 50724  ],
    [ "Neptune", 49244  ],
]


# affiche le nom (index 0 de la sous-liste)
print(planetes[0][0]) # nom (element 0) de la première planète (index 0)
print(planetes[-1][0]) # nom (element 0) du dernier element de planètes (index -1)

# affiche les diamètres (index 1 de la sous-liste)
print(planetes[0][1]) # diamètre (element 1) de la première planète (index 0)
print(planetes[-1][1]) # diamètre (element 1) du dernier element de planètes (index -1)

Mercure
Neptune
4879
49244