
<section style="position:relative; width:100%;">

<div style="display:inline-block;">
<img src="images/ioapps_small.png" style="width:200px;" /> 
<p> Formateur :<br /> Pierre-Olivier Simonard <br />
<a href="mailto:pierre.olivier.simonard@gmail.com">pierre.olivier.simonard@gmail.com</a></p>
</div>

<div style="display:inline-block; float:right">
    <h3>ICAM </h3>
    <p>Formation Data Science</p>
    <p>Novembre 2022</p>
    <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.eu.png"  width="100px" />
</div>

</section>


<h1 style="text-align: center; width:100%">Programmation Python</h1>
<h2 style="text-align: center; width:100%">Partie 2.0 : Variables et opérateurs </h2>

<!--  
Novembre 2022
Pierre-Oliver Simonard - pierre.olivier.simonard@gmail.com
-->

<style>
div.warn {    
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
    }
</style>

### 1 - Variable et affectation

Une variable permet de stocker une valeur pour l'utiliser ensuite.

Ainsi, l'exemple vu précédemment :

In [1]:
print("ECAM Novembre 2022")

ECAM Novembre 2022

Peut s'ecrire en utilisant une variable :

In [2]:
mon_texte = "ECAM Novembre 2022"
print(mon_texte)

ECAM Novembre 2022

* **mon_texte** est le **nom** de ma variable 

* Le nom d'une variable peut être constitué de lettres (minuscules comme majuscules), de chifres, et du underscore. Mais le premier caractère ne peut pas être un chiffre.

* L'opérateur __=__ (simple égal) est appelé **opérateur d'affectation** et permet de définir la valeur de la variable

On peut utiliser **l'opérateur d'affectation** pour changer la valeur d'une variable :

In [4]:
hello = "ICAM Novembre 2022"
print(hello)

hello = "ICAM Novembre 2022 - Cours de Python"
print(hello)

ICAM Novembre 2022
ICAM Novembre 2022 - Cours de Python

### Bonus : Commentaires en python

Voici comment réaliser un commentaire dans du code python :

In [4]:
print("test") # ceci est un commentaire

test

### 2 - Types de variables

Dans l'exemple précédent, la variable **mon_texte** contient du texte.

Il existe plusieurs types de variables, permettant de stocker des données de différentes natures : texte, nombres entiers, nombres à virgule ...

Nous allons passer en revue les plus courants :

#### Bool 
Permet de stocker une valeur vraie (`True`) ou fausse (`False`)

In [5]:
mon_boolean = True 
print(mon_boolean)

mon_boolean = False 
print(mon_boolean)

True
False

On parle de variable "booléenne", en référence à l'algèbre de Boole.
https://fr.wikipedia.org/wiki/Algèbre_de_Boole_(logique)

#### Int 
Permet de stocker des valeurs entières (positives comme négatives)

In [6]:
nbr_jours = 365
print(nbr_jours)

temperature_hiver = -4
print(temperature_hiver)

365
-4

#### Float 
type numérique, pour stocker des nombres à virgules (positifs comme négatifs), aussi appelés "flottants"

In [7]:
valeur_pi = 3.14
print(valeur_pi)

zero_absolu = -273.15
print(zero_absolu)

3.14
-273.15

#### String 
les chaines de caractère, comme vu dans l'exemple précedent :

In [4]:
mon_texte = "ECAM Novembre 2022"
print(mon_texte)

ECAM Novembre 2022

In [9]:
mon_texte = 'Bonjour L\'ECAM' 
print(mon_texte)

Bonjour L'ECAM

In [10]:
mon_texte = "Bonjour \nL'ECAM"
print(mon_texte)

Bonjour
L'ECAM

In [11]:
mon_texte = '''  Ce qui permet
D'écrire 
sur      plusieurs
Lignes !
'''
print(mon_texte)

  Ce qui permet
D'écrire
sur      plusieurs
Lignes !

#### Déterminer le type d'une variable

Pour connaître le type d'une variable, on peut utiliser la fonction `type()`.

Voici un exemple de code illustrant chacun de ces types :

In [12]:
mon_boolean = True 
mon_int = 3 
mon_float = 3.14159 
mon_str = "La valeur de pi est environ 3.14"

print(  type(mon_boolean),  mon_boolean)
print(  type(mon_int),      mon_int)
print(  type(mon_float),    mon_float)
print(  type(mon_str),      mon_str)

<class 'bool'> True
<class 'int'> 3
<class 'float'> 3.14159
<class 'str'> La valeur de pi est environ 3.14

----
#### Conversion d'un type vers un autre - utile avec input()

la fonction `input()` permet de demander à l'utilisateur de saisir une valeur, que l'on affecte à une variable.

In [5]:
valeur_saisie = input("veuillez saisir une valeur : ")
print(valeur_saisie, type(valeur_saisie))

veuillez saisir une valeur :  99

99 <class 'str'>

`input()` retourne **toujours** une string, même si on ne saisi que des nombres.

Dans ce cas, il est donc nécessaire de convertir une variable d'un type vers un autre type.

Par exemple, si on a la chaine de caractère `"3.14"` et que l'on veut la convertir en nombre à virgule :

In [14]:
valeur_pi = "3.14" # string contenant les caractères 3 . 1 4
print(valeur_pi, type(valeur_pi))

3.14 <class 'str'>

In [15]:
valeur_pi_float = float(valeur_pi)
print(valeur_pi_float, type(valeur_pi_float))

3.14 <class 'float'>

In [16]:
valeur_pi_int = int(valeur_pi_float)
print(valeur_pi_int, type(valeur_pi_int))

3 <class 'int'>

In [17]:
valeur_saisie = input("veuillez saisir une valeur entière : ")
valeur_saisie_int = int(valeur_saisie)

print( valeur_saisie_int, type(valeur_saisie_int) )

veuillez saisir une valeur entière :  99

99 <class 'int'>

On peut également convertir un nombre en string :

In [18]:
pi = 3.14
pi = str(pi)
print(pi, type(pi) )

3.14 <class 'str'>

<div style="background-color: #fcf2f2;border-color: #dFb5b4;border-left: 5px solid #dfb5b4;padding: 0.5em;">
<b>Attention</b> : Toutes les conversions ne sont pas possibles.<br />
</div>

Voici quelque exemples de conversions érronées :

In [22]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [23]:
ma_variable = input("Saisissez une valeur entière")
print( int(ma_variable))

Saisissez une valeur entière ECAM

ValueError: invalid literal for int() with base 10: 'ECAM'

----

### 3 - Opérateurs

Les principaux opérateurs en python sont : 
* __+__ : l'opérateur d'addition

In [24]:
valeur_a = 4
valeur_b = 5
resultat = valeur_a + valeur_b 
print(resultat)

9

* __-__ : l'opérateur de soustraction

In [25]:
valeur_a = 2
valeur_b = 9
resultat = valeur_a - valeur_b 
print(resultat)

-7

* __*__ : l'opérateur de multiplication

In [26]:
valeur_pi = 3.14
print( valeur_pi * 2 )

6.28

* __/__ : l'opérateur de division

In [27]:
nbr_jours = 365
nbr_mois = 12
print(nbr_jours / nbr_mois )

30.416666666666668

* __//__ : l'opérateur de division entière

In [28]:
nbr_jours = 365
duree_semaine = 7
print(nbr_jours // duree_semaine )

52

* __%__ : l'opérateur modulo, le reste de la division entière

In [29]:
nbr_jours = 365
duree_semaine = 7
print(nbr_jours % duree_semaine )

1

Le **modulo** est très souvent utilisé pour déterminer la parité d'un nombre :

In [30]:
nombre = 13
print(nombre%2)
nombre = 12
print(nombre%2)

1
0

* __**__ : l'opérateur de puissance

In [31]:
nombre = 10
print(nombre ** 2)

100

* on peut utiliser les opérateurs  __+ - / * %__ entre variables numériques, c'est à dire utiliser des valeurs **entières** ou **flottantes** :

In [33]:
valeur_a = 3.14
valeur_b = 2
print(valeur_a * valeur_b)

6.28

#### Résumé des opérateurs sur les int et float : 

| Opérateur  | Opération         |  Example  | Résultat  |
|------------|-------------------|-----------|-----------|
| +          |  Addition         |  1 + 2    |  3  | 
| -          |  Soustraction     |  3 - 2    |  1 | 
| *          |  Multiplication   |  2 * 3    |  6  | 
| /          |  Division         |  11 / 2   |  5.5 | 
| //         |  Division entière |  11 // 2  |  5 | 
| %          |  Modulo<br/>(reste de la division entière) |    11 % 2  |  1  | 
| **         |  Puissace         |  2 ** 3   |  8 |

#### Priorité des opérateurs :

Les opérateurs en python ont une priorité similaire à la priorité des opérateurs en mathématiques :  
**Parenthèses > Puissance > multiplications & divisions > additions & soustraction**

Ainsi, le calcul suivant :   $2^3*4-5$ peut s'exprimer ainsi :

In [37]:
calcul = 2 ** 3 * 4 - 5
print( calcul )

27

----

Nous avons vu comment utiliser des opérateurs avec des variables numériques. On peut également utiliser certains opérateurs avec des strings :

* On peut aussi utiliser l'opérateur __+__ avec des strings : on parle de **concaténation** :

In [ ]:
prefixe = "car"
suffixe = "actère"
resultat = prefixe + suffixe
print(resultat)

<div style=" background-color: #fcf2f2;border-color: #dFb5b4;border-left: 5px solid #dfb5b4;padding: 0.5em;">
<b>Attention</b> : On ne peut pas concaténer une string avec autre chose qu'une string ! <br />
</div>

In [ ]:
prefixe = "valeur de pi : "
suffixe = 3.14
print(prefixe + suffixe)

* On peut également utiliser l'opérateur __*__ avec  une string et un entier : on parle de **duplication** :

In [7]:
element = "blah "
resultat = element * 10
print( resultat )

blah blah blah blah blah blah blah blah blah blah

<div style=" background-color: #fcf2f2;border-color: #dFb5b4;border-left: 5px solid #dfb5b4;padding: 0.5em;">
<b>Attention</b> : On ne peut pas dupliquer une string avec autre chose qu'un int ! <br />
</div>

In [6]:
element = "blah "
resultat = element * 10.5
print( resultat )

TypeError: can't multiply sequence by non-int of type 'float'